.CartProduct {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  img {
    width: 150px;
    padding: 0 1.3rem;
  }

  .btn-cart {
    padding: 0.7rem;
    outline: none;
    border: none;
    background-color: #c4dfec;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .Product {
    width: 50%;
    min-height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .Product {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1600px) {
  .Product {
    width: 25%;
  }
}
